@import '~quill/dist/quill.snow.css';
.collapsed {
  display: none;
}

.expanded {
  display: block;
}

.collapsible {
  pointer-events: none;
}

.expandable {
  pointer-events: none;
}

.collapsible:before {
  content: '\2022';
  color: black;
  pointer-events: all;
}

.collapsible:hover:before {
  content: '\25BE \2022';
  cursor: pointer ;
}

.expandable:before {
  content: '\2022';
  color: black;
  text-shadow: 1px 1px 5px darkblue;
  pointer-events: all;
}

.expandable:hover:before {
  content: '\25B8 \2022';
  cursor: pointer ;
  text-shadow: 6px 1px 5px darkblue;
  color: black;
}


.ql-editor li.ql-indent-1:not(.ql-direction-rtl){
  padding-left: 3em;
  margin-left: 1em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 3.5em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 5.5em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 7.5em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 9.5em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 11.5em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 11.5em;
  border-left: dotted 1px;
}

.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 3em;
  margin-left: 11.5em;
  border-left: dotted 1px;
}

